@tailwind base;

@layer base {
    html.h-full body,
    html.h-full body > div:first-child {
        height: 100%; /* Use for full screen landing pages */
    }
    h1 {
        @apply text-2xl;
    }
    h2 {
        @apply text-xl;
    }
    h3 {
        @apply text-lg;
    }
    a {
        @apply text-blue-600 cursor-pointer active:text-blue-800;
    }
    .DayPickerInput {
        @apply w-full;
    }
    .DayPickerInput input {
        @apply block w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm;
    }
    .DayPickerInput .DayPicker-Week {
        @apply leading-5;
    }
    .rpv-core__page-layer::after {
        box-shadow: 0px 0px 6px 3px #88888821 !important;
        border: 1px solid #0037ff !important;
        border-radius: 0.5rem !important;
        margin: 0rem !important;
        padding: 0rem !important;
        background-color: #cccccc28 !important;
    }
    @keyframes bounce-side {
        0%,
        100% {
            transform: translateX(2);
            animation-timing-function: ease-in-out;
        }
        70% {
            transform: translateX(8px);
            animation-timing-function: ease-in-out;
        }
    }

    .bounce-side {
        animation: bounce-side 1s infinite;
    }
}

@tailwind components;
@tailwind utilities;
